@import url("https://fonts.googleapis.com/css?family=Playfair+Display");
@import url("https://fonts.googleapis.com/css?family=Source+Code+Pro");
/*
 *
 * Monochrome by Ut0n69
 * This is CSS framework.
 *
 * https://github.com/Ut0n69/monochrome
 *
 */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
textarea,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

* {
  -webkit-appearance: none; }

a:link,
a:visited,
a:hover,
a:active {
  color: #000; }

input {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

input[type="text"],
input[type="password"],
textarea,
select {
  outline: none; }

*:focus {
  outline: none; }

a {
  text-decoration: none; }

button {
  cursor: pointer; }

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

/* button ----------------------------*/
.btn-white {
  width: 130px;
  height: 40px;
  background: #fff;
  color: #000;
  border: 2px solid #000;
  font-size: 23px;
  -webkit-transition: .3s;
  transition: .3s;
  cursor: pointer; }
  .btn-white.round {
    border-radius: 35px; }
  .btn-white.btn-lg {
    width: 200px;
    height: 50px; }

.btn-white:hover {
  background: #000;
  color: #fff; }

.btn-black {
  width: 130px;
  height: 40px;
  background: #000;
  color: #fff;
  font-size: 23px;
  -webkit-transition: .3s;
  transition: .3s;
  cursor: pointer; }
  .btn-black.round {
    border-radius: 35px; }
  .btn-black.btn-lg {
    width: 200px;
    height: 50px; }

.btn-black:hover {
  background: #fff;
  color: #000;
  border: 2px solid #000; }

.btn-round {
  width: 200px;
  height: 50px;
  background: #000;
  color: #fff;
  font-size: 23px;
  -webkit-transition: .3s;
  transition: .3s;
  cursor: pointer; }

.btn-round:hover {
  background: #fff;
  color: #000;
  border: 2px solid #000; }

/* humberger menu ----------------------------*/
.hbg-menu,
.hbg-menu-spin,
.hbg-menu-arrow-left,
.hbg-menu-arrow-right {
  -webkit-transition: all 300ms 0s ease;
  transition: all 300ms 0s ease;
  display: inline; }

.hbg,
.hbg span {
  display: inline-block;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  cursor: pointer; }

.hbg-menu .hbg {
  position: relative;
  width: 20px;
  height: 30px; }
  .hbg-menu .hbg span {
    position: absolute;
    left: 0;
    width: 20px;
    height: 3px;
    background-color: #000; }
  .hbg-menu .hbg span:nth-child(1) {
    top: 4px;
    -webkit-transition: .5s;
    transition: .5s; }
  .hbg-menu .hbg span:nth-child(2) {
    top: 11px;
    -webkit-transition: .5s;
    transition: .5s; }
  .hbg-menu .hbg span:nth-child(3) {
    bottom: 8px;
    -webkit-transition: .5s;
    transition: .5s; }
  .hbg-menu .hbg.active span:nth-child(1) {
    -webkit-transform: translateY(8px) rotate(-45deg);
    -ms-transform: translateY(8px) rotate(-45deg);
    transform: translateY(8px) rotate(-45deg); }
  .hbg-menu .hbg.active span:nth-child(2) {
    opacity: 0; }
  .hbg-menu .hbg.active span:nth-child(3) {
    -webkit-transform: translateY(-7px) rotate(45deg);
    -ms-transform: translateY(-7px) rotate(45deg);
    transform: translateY(-7px) rotate(45deg); }

.hbg-menu-spin .hbg {
  position: relative;
  width: 20px;
  height: 30px; }
  .hbg-menu-spin .hbg span {
    position: absolute;
    left: 0;
    width: 20px;
    height: 3px;
    background-color: #000; }
  .hbg-menu-spin .hbg span:nth-child(1) {
    top: 4px;
    -webkit-transition: .5s;
    transition: .5s; }
  .hbg-menu-spin .hbg span:nth-child(2) {
    top: 11px;
    -webkit-transition: .6s;
    transition: .6s; }
  .hbg-menu-spin .hbg span:nth-child(3) {
    bottom: 8px;
    -webkit-transition: .5s;
    transition: .5s; }
  .hbg-menu-spin .hbg.active span:nth-child(1) {
    -webkit-transform: translateY(8px) rotate(-405deg);
    -ms-transform: translateY(8px) rotate(-405deg);
    transform: translateY(8px) rotate(-405deg); }
  .hbg-menu-spin .hbg.active span:nth-child(2) {
    opacity: 0; }
  .hbg-menu-spin .hbg.active span:nth-child(3) {
    -webkit-transform: translateY(-7px) rotate(405deg);
    -ms-transform: translateY(-7px) rotate(405deg);
    transform: translateY(-7px) rotate(405deg); }

.hbg-menu-arrow-left .hbg {
  position: relative;
  width: 20px;
  height: 30px; }
  .hbg-menu-arrow-left .hbg span {
    position: absolute;
    left: 0;
    width: 20px;
    height: 3px;
    background-color: #000; }
  .hbg-menu-arrow-left .hbg span:nth-child(1) {
    top: 4px;
    -webkit-transition: .5s;
    transition: .5s; }
  .hbg-menu-arrow-left .hbg span:nth-child(2) {
    top: 11px;
    -webkit-transition: .5s;
    transition: .5s; }
  .hbg-menu-arrow-left .hbg span:nth-child(3) {
    bottom: 8px;
    -webkit-transition: .5s;
    transition: .5s; }
  .hbg-menu-arrow-left .hbg.active span:nth-child(1) {
    top: 6px;
    width: 18px;
    -webkit-transform: translateY(0px) rotate(-45deg);
    -ms-transform: translateY(0px) rotate(-45deg);
    transform: translateY(0px) rotate(-45deg); }
  .hbg-menu-arrow-left .hbg.active span:nth-child(2) {
    left: 3px; }
  .hbg-menu-arrow-left .hbg.active span:nth-child(3) {
    bottom: 10px;
    width: 18px;
    -webkit-transform: translateY(0px) rotate(45deg);
    -ms-transform: translateY(0px) rotate(45deg);
    transform: translateY(0px) rotate(45deg); }

.hbg-menu-arrow-right .hbg {
  position: relative;
  width: 20px;
  height: 30px; }
  .hbg-menu-arrow-right .hbg span {
    position: absolute;
    left: 0;
    width: 20px;
    height: 3px;
    background-color: #000; }
  .hbg-menu-arrow-right .hbg span:nth-child(1) {
    top: 4px;
    -webkit-transition: .5s;
    transition: .5s; }
  .hbg-menu-arrow-right .hbg span:nth-child(2) {
    top: 11px;
    -webkit-transition: .5s;
    transition: .5s; }
  .hbg-menu-arrow-right .hbg span:nth-child(3) {
    bottom: 8px;
    -webkit-transition: .5s;
    transition: .5s; }
  .hbg-menu-arrow-right .hbg.active span:nth-child(1) {
    top: 6px;
    width: 18px;
    -webkit-transform: translateY(0px) rotate(45deg);
    -ms-transform: translateY(0px) rotate(45deg);
    transform: translateY(0px) rotate(45deg); }
  .hbg-menu-arrow-right .hbg.active span:nth-child(2) {
    left: -5px; }
  .hbg-menu-arrow-right .hbg.active span:nth-child(3) {
    bottom: 10px;
    width: 18px;
    -webkit-transform: translateY(0px) rotate(-45deg);
    -ms-transform: translateY(0px) rotate(-45deg);
    transform: translateY(0px) rotate(-45deg); }

/* form ----------------------------*/
.input {
  padding: 5px;
  font-size: 18px;
  width: 400px;
  height: 35px;
  border: 2px solid #000;
  border-radius: 7px;
  -webkit-transition: font-size 0.5s;
  transition: font-size 0.5s; }

.select {
  width: 400px;
  height: 35px;
  font-size: 13px;
  border: 2px solid #000;
  border-radius: 7px;
  background: #fff;
  padding-left: 10px; }

.textarea {
  resize: none;
  font-size: 13px;
  width: 400px;
  border: 2px solid #000;
  border-radius: 7px; }

/* table ----------------------------*/
.table {
  border-collapse: collapse;
  border-spacing: 0;
  border: 2px solid #000; }
  .table th {
    width: 150px;
    padding: 10px;
    background: #000;
    color: #fff; }
  .table td {
    width: 150px;
    padding: 5px;
    border-bottom: 1px solid #000; }

.table-stripe {
  border-collapse: collapse;
  border-spacing: 0;
  border: 2px solid #000; }
  .table-stripe th {
    width: 150px;
    padding: 10px;
    background: #000;
    color: #fff; }
  .table-stripe td {
    width: 150px;
    padding: 5px;
    border-bottom: 1px solid #000; }
  .table-stripe tr:nth-child(even) {
    background: #eee; }

.table-hover {
  border-collapse: collapse;
  border-spacing: 0;
  border: 2px solid #000; }
  .table-hover th {
    width: 150px;
    padding: 10px;
    background: #000;
    color: #fff; }
  .table-hover td {
    width: 150px;
    padding: 5px;
    border-bottom: 1px solid #000; }
  .table-hover tr:hover {
    background: #eee; }

/* card ----------------------------*/
.card {
  cursor: pointer;
  display: inline-block;
  width: 304px;
  height: 385px;
  border: 2px solid #000; }
  .card img {
    width: 300px;
    height: 300px;
    -o-object-fit: cover;
    object-fit: cover; }
  .card p {
    text-align: left;
    margin-left: 10px;
    border-left: 5px solid #000;
    padding: 10px;
    margin: 1em; }

/* centering ----------------------------*/
.centering {
  margin: 0;
  padding: 0;
  position: relative;
  top: 50%;
  left: 50%;
  -webkit-transform: translateX(-50%) translateY(-50%);
  -ms-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%); }

/* max-width ----------------------------*/
.max-width {
  max-width: 1000px;
  margin: auto; }

/* link-color ----------------------------*/
a:link {
  color: #000; }

a:visited {
  color: #000; }

a:hover {
  color: #000; }

a:active {
  color: #000; }

input[type="text"],
input[type="password"],
textarea,
select {
  outline: none; }

*:focus {
  outline: none; }

a {
  text-decoration: none; }

body {
  background: #fff;
  font-family: 'Playfair Display', serif; }

header {
  margin: 0;
  width: 100%;
  height: 150px;
  background: #000;
  color: #fff;
  text-align: center; }
  header h1 {
    font-size: 3vw; }
  @media screen and (max-width: 768px) {
    header {
      height: 100px; }
      header h1 {
        font-size: 5vw; } }

hr {
  margin-bottom: 30px; }

.menu {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  width: 100%;
  height: 30px;
  line-height: 30px;
  background: #000;
  color: #fff;
  text-align: center;
  z-index: 999; }
  .menu a {
    margin: 0 30px 0 30px; }
  .menu a:hover {
    color: #fff;
    cursor: pointer; }

section h2 {
  font-size: 20px;
  margin: 15px 0 0 30px; }

section h3 {
  font-size: 18px;
  margin-top: 15px; }

.code {
  font-family: 'Source Code Pro', monospace;
  margin-top: 30px;
  position: relative;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
  width: 600px;
  height: auto;
  padding: 10px;
  border: 3px solid #000; }

.contents {
  text-align: center; }

.hbg-menu,
.hbg-menu-spin,
.hbg-menu-arrow-left,
.hbg-menu-arrow-right {
  margin: 90px; }

.hbg-table {
  position: relative;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%); }

.select {
  margin: 0 auto; }

.table,
.table-stripe,
.table-hover {
  margin: 0 auto; }

footer {
  margin-top: 30px;
  width: 100%;
  height: 100px;
  line-height: 100px;
  background: #000;
  text-align: center;
  color: #fff; }

.instration {
  width: 100%;
  height: -webkit-calc(100vh - 150px - 30px - 100px - 30px);
  height: calc(100vh - 150px - 30px - 100px - 30px); }
  .instration h2 {
    font-size: 26px;
    margin: 15px 0 0 0; }
  .instration h3 {
    font-size: 20px;
    margin: 20px 0 10px 0; }
  .instration .code {
    margin: 0;
    width: 1000px; }
  .instration code {
    font-size: 15px; }
