/* form ----------------------------*/

.input {
  padding: 5px;
  font-size: 18px;
  width: 400px;
  height: 35px;
  border: 2px solid #000;
  border-radius: 7px;
  transition: font-size 0.5s;
}

.select {
  width: 400px;
  height: 35px;
  font-size: 13px;
  border: 2px solid #000;
  border-radius: 7px;
  background: #fff;
  padding-left: 10px;
}

.textarea {
  resize: none;
  font-size: 13px;
  width: 400px;
  border: 2px solid #000;
  border-radius: 7px;
}